
  
  .error-line {
    stroke:black;
    stroke-dasharray: 2,2;
  }
  
  .error-cap {
    stroke:black;
    stroke-width: 1px;
    stroke-type: solid;
  }
  
    div.tooltip {
      background-color: #fff;
      padding: 7px;
      text-shadow: #f5f5f5 0 1px 0;
      font: 15px Helvetica Neue;
      border: 2.5px solid;
      border-color: black;
      border-radius: 3px;
      opacity: 0.95;
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.3) 0 10px 15px;
    }
  
  .tooltip:after {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%; /* To the left of the tooltip */
      margin-top: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent transparent transparent;
      /* border-color: transparent rgb(0, 0, 0) transparent transparent; */
  }
  
   .plot-bg {
     fill:white;
   }
   path { 
       stroke: transparent;
       stroke-width: 2;
       fill: none;
   }
   
   .axis path,
   .axis line {
       fill: none;
       stroke: grey;
       stroke-width: 1;
       shape-rendering: crispEdges;
   }

   /* check box style */

   /* [type="radio"]:checked,
   [type="radio"]:not(:checked) {
       position: absolute;
       left: -9999px;
   }
   [type="radio"]:checked + label,
   [type="radio"]:not(:checked) + label
   {
       position: relative;
       padding-left: 28px;
       cursor: pointer;
       line-height: 20px;
       display: inline-block;
       color: #666;
   }
   [type="radio"]:checked + label:before,
   [type="radio"]:not(:checked) + label:before {
       content: '';
       position: absolute;
       left: 0;
       top: 0;
       width: 18px;
       height: 18px;
       border: 2px solid #ddd;
       border-radius: 100%;
       background: #fff;
   }
   [type="radio"]:checked + label:after,
   [type="radio"]:not(:checked) + label:after {
       content: '';
       width: 13px;
       height: 13px;
       background: #0A58A0;
       position: absolute;
       top: 4.5px;
       left: 4.5px;
       border-radius: 100%;
       -webkit-transition: all 0.2s ease;
       transition: all 0.2s ease;
   }
   [type="radio"]:not(:checked) + label:after {
       opacity: 0;
       -webkit-transform: scale(0);
       transform: scale(0);
   }
   [type="radio"]:checked + label:after {
       opacity: 1;
       -webkit-transform: scale(1);
       transform: scale(1);
   } */